<div
  class="flex min-h-[100dvh] items-center flex-col bg-[var(--background-color)] p-4 max-sm:p-2 overflow-hidden border-2"
>
  <div class="w-full max-w-md mt-8">
    <!-- Header -->
    <div class="mb-8 text-center">
      <div
        class="py-1.5 max-lg:px-3 px-2 rounded-lg w-35 h-30 mx-auto max-sm:hidden"
      >
        <img
          src="ntg.jpeg"
          alt="Logo"
          class="w-full h-full rounded-lg shadow-lg mt-10"
        />
      </div>
      <div class="mx-auto mb-4 h-12 w-12 text-primary max-sm:hidden">
        <!-- Logo -->
      </div>
      <h1 class="text-3xl font-bold text-foreground">Quiz Mastro</h1>
      <p class="mt-2 text-muted-foreground">Sign in to continue</p>
    </div>

    <!-- Card -->
    <div
      class="rounded-2xl bg-white px-8 pt-8 pb-6 max-sm:pt-6 max-sm:pb-4 max-sm:px-4 shadow-lg"
    >
      <form class="space-y-5" [formGroup]="form">
        <!-- Username -->
        <div>
          <label
            for="username"
            class="block text-sm font-medium"
            [ngClass]="errors.username ? 'text-destructive' : 'text-primary'"
          >
            Username
          </label>

          <div class="mt-1">
            <input
              hlmInput
              [error]="errors.username ? true : 'auto'"
              id="username"
              autofocus
              type="text"
              formControlName="username"
              placeholder="student@username"
              #usernameInput
              (keydown.enter)="focusNext(passwordInput)"
              class="lg:h-12 lg:text-lg"
            />
          </div>
          <p
            *ngIf="errors.username"
            class="text-destructive/70 text-sm mt-1 max-sm:text-[12px]"
          >
            {{ errors.username }}
          </p>
        </div>

        <!-- Password -->
        <!-- Password -->
        <div>
          <label
            for="password"
            class="block text-sm font-medium"
            [ngClass]="errors.password ? 'text-destructive' : 'text-primary'"
          >
            Password
          </label>
          <div class="mt-1 relative">
            <div></div>
            <input
              hlmInput
              [error]="errors.password ? true : 'auto'"
              id="password"
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="teacher#password"
              (input)="onPasswordInput()"
              #passwordInput
              (keydown.enter)="onSubmit()"
              class="lg:h-12 lg:text-lg"
            />

            <!-- Eye Icon -->
            <button
              *ngIf="passwordHasValue"
              type="button"
              (click)="togglePassword()"
              [disabled]="!passwordHasValue"
              [ngClass]="errors.password ? 'text-destructive' : 'text-primary'"
              class="absolute top-1/2 -translate-y-1/2 right-2 flex items-center focus:outline-none h-full cursor-pointer"
            >
              <svg
                *ngIf="!showPassword"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-eye-off-icon lucide-eye-off"
              >
                <path
                  d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"
                />
                <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242" />
                <path
                  d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"
                />
                <path d="m2 2 20 20" />
              </svg>
              <svg
                *ngIf="showPassword"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-eye-icon lucide-eye"
              >
                <path
                  d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
                />
                <circle cx="12" cy="12" r="3" />
              </svg>
            </button>
          </div>
          <p
            *ngIf="errors.password"
            class="text-destructive/70 text-sm mt-1 max-sm:text-[12px]"
          >
            {{ errors.password }}
          </p>
        </div>

        <!-- Submit -->
        <div>
          <button
            hlmBtn
            (click)="onSubmit()"
            type="submit"
            class="text-lg px-4 py-2 flex w-full justify-center h-12"
          >
            Login
          </button>
        </div>
      </form>

      <div class="flex flex-col mt-6 items-start gap-3">
        <div class="h-[2px] w-full bg-secondary"></div>
        <div class="flex flex-col gap-1">
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-info-icon lucide-info mr-1 text-destructive"
            >
              <circle cx="12" cy="12" r="10" />
              <path d="M12 16v-4" />
              <path d="M12 8h.01" />
            </svg>

            <p class="text-gray-500 text-[13px] max-sm:text-[11px]">
              username: <strong>student&#64;</strong>/<strong
                >teacher&#64;</strong
              >
            </p>
          </div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-info-icon lucide-info mr-1 text-destructive"
            >
              <circle cx="12" cy="12" r="10" />
              <path d="M12 16v-4" />
              <path d="M12 8h.01" />
            </svg>
            <p class="text-gray-500 text-[13px] max-sm:text-[11px]">
              password: <strong>student#</strong>/<strong>teacher#</strong>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <p
      class="mt-6 text-center text-sm text-[var(--text-secondary)] max-sm:text-[12px]"
    >
      © 2025 Quiz App. All rights reserved.
    </p>
  </div>
</div>
