<div
  class="flex flex-col items-center justify-center min-h-screen text-center px-4"
>
  <div class="w-full max-w-md">
    <svg
      class="w-64 h-64 mx-auto mb-8 text-primary"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      ></path>
      <path
        d="M15.5 15.5L18.328 18.328M5.672 5.672L8.5 8.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      ></path>
    </svg>
    <h1 class="text-5xl font-black text-foreground mb-4">404</h1>
    <h2 class="text-2xl font-bold text-foreground mb-4">
      Oops! Page Not Found
    </h2>
    <p class="text-muted-foreground text-lg mb-8">
      Looks like you've taken a wrong turn. Let's get you back on track.
    </p>

    <a
      class="bg-primary button-click text-white font-medium py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 inline-block"
      routerLink="/"
    >
      Back to Home
    </a>
  </div>
</div>
